.seeAll {
  color: #858585;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  text-align: center;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: -0.02em;
}
.doctorTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 34px;
  margin-bottom: 28px;
}
