.MainContainer {
  margin: 42px 42px 83px 42px;
}

@media (min-width: 1032px) {
  .MainContainer {
    margin: 42px 42px 83px 125px;
  }
}
@media (max-width: 1032px) {
  .MainContainer {
    margin: 42px 32px 83px 32px;
  }
}
