.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profileWrapper {
  display: flex;
}
.photo {
  cursor: pointer;
}
.GreetingText {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-right: 20px;
}
.GreetingText p {
  padding-top: 16px;
  font-size: 14px;
  color: #858585;
}
.GreetingText span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.notification {
  margin-top: 16px;
  cursor: pointer;
}

@media (max-width: 1032px) {
  .profileWrapper {
    order: 1;
  }
  .notification {
    order: 2;
  }
  .SearchWrap {
    order: 3;
    width: 100%;
    margin: 32px auto;
  }
}
